@page "/Students"
@inject IStudentService StudentService
\
<div class="form-control border-0">
    <input type="text" class="form-control" placeholder="Search">
    <br>
    <H2 class="d-flex justify-content-center">STUDENTS</H2>
    <div class="d-flex align-items-center">
        <button type="button" data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-primary rounded-pill m-1 ">New</button>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Add Student</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
        
            </div>

            <div class="modal-footer">
                <button type="button" class="btn  d-flex btn-success">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="form-control border-0 d-flex flex-wrap">
    @foreach(var student in StudentList )
    {
        <div class="p-1">
            <span class="badge bg-success">@student.Name</span>
        </div>
    }
    
</div>

@code{

    public List<Student> StudentList = new List<Student>();

}

