@inherits LayoutComponentBase

<PageTitle>Divisor</PageTitle>

<div class="page">
    <main>
        <nav class="navbar shadow-sm navbar-expand-sm  navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <svg width="50%" height="50%" viewBox="0 0 262 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_305_3" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="22" y="0" width="44" height="26">
                        <path d="M22.2637 0.562256H65.3197V25.272H22.2637V0.562256Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_305_3)">
                        <path d="M36.4026 7.03951C36.4026 3.47101 39.6713 0.578506 43.7041 0.578506C47.737 0.578506 51.0057 3.47101 51.0057 7.03951C51.0057 10.6113 47.737 13.5038 43.7041 13.5038C39.6749 13.5038 36.4026 10.6113 36.4026 7.03951ZM59.1774 9.01226C52.863 13.9295 47.4481 17.394 43.7041 17.394C39.9601 17.394 34.5452 13.9295 28.2309 9.01226C25.5289 6.90951 21.5838 9.79226 23.4083 12.5418L35.1119 25.1453C37.7042 24.0143 40.6183 23.3773 43.7041 23.3773C46.7864 23.3773 49.704 24.0143 52.2927 25.1453L64 12.5418C65.8244 9.79226 61.8794 6.90951 59.1774 9.01226Z" fill="#F23005"/>
                        </g>
                        <path d="M77.4877 24.076C81.3195 22.9743 85.4401 24.8333 86.6832 28.2263C87.93 31.6225 85.8313 35.269 81.9959 36.3708C78.1641 37.4758 74.0435 35.6168 72.8004 32.2205C71.5536 28.8275 73.6523 25.181 77.4877 24.076ZM82.4054 43.8653C75.1733 40.066 69.7804 36.5755 68.6213 33.423C67.4659 30.2705 69.5134 24.6415 72.8443 17.8035C74.2666 14.8785 69.9485 12.4508 67.561 14.833L57.6416 28.5838C59.6562 30.4168 61.243 32.6755 62.1936 35.2723C63.1479 37.8723 63.3636 40.5243 62.9505 43.056L80.1056 49.0165C83.6193 49.7023 85.5022 45.4903 82.4054 43.8653Z" fill="#04BFBF"/>
                        <path d="M71.8829 63.9373C74.2522 66.8265 73.5282 70.8663 70.2669 72.9658C67.0055 75.0653 62.4425 74.425 60.0696 71.5358C57.7003 68.6465 58.4243 64.6068 61.6856 62.5073C64.947 60.4078 69.5137 61.048 71.8829 63.9373ZM52.1501 74.1943C53.9966 66.9273 56.077 61.3113 59.1043 59.3613C62.1354 57.4145 68.8117 57.3983 77.1845 58.0873C80.7676 58.383 82.0436 53.9988 78.7457 52.7248L60.9069 48.6168C59.565 50.882 57.6272 52.9133 55.1336 54.5188C52.6364 56.1243 49.854 57.1285 47.0058 57.5608L45.9053 73.8498C46.2563 77.0218 51.3604 77.3045 52.1501 74.1943Z" fill="#004AAD"/>
                        <path d="M27.3388 71.5358C24.9696 74.425 20.4029 75.0653 17.1415 72.9658C13.8802 70.8663 13.1562 66.8265 15.5255 63.9373C17.8984 61.048 22.4614 60.4078 25.7228 62.5073C28.9841 64.6068 29.7081 68.6465 27.3388 71.5358ZM10.2203 58.0873C18.5967 57.3983 25.273 57.4145 28.3041 59.3613C31.3315 61.3113 33.4119 66.9273 35.2583 74.1943C36.048 77.3045 41.1521 77.0218 41.5031 73.8498L40.4026 57.5608C37.5544 57.1285 34.772 56.1243 32.2784 54.5188C29.7812 52.9133 27.847 50.882 26.5015 48.6168L8.66271 52.7248C5.36477 53.9988 6.6408 58.383 10.2203 58.0873Z" fill="#F2B705"/>
                        <path d="M5.41221 36.3708C1.57681 35.269 -0.521883 31.6225 0.724898 28.2263C1.97168 24.8333 6.08862 22.9743 9.92402 24.076C13.7558 25.181 15.8545 28.8275 14.6077 32.2205C13.3646 35.6168 9.24396 37.4758 5.41221 36.3708ZM14.5638 17.8035C17.8946 24.6415 19.9421 30.2705 18.7868 33.423C17.6277 36.5755 12.2348 40.066 5.00271 43.8653C1.90587 45.4903 3.78884 49.7023 7.30249 49.0165L24.4576 43.0528C24.0445 40.521 24.2602 37.869 25.2145 35.2723C26.1651 32.6755 27.7519 30.4168 29.7701 28.5838L19.8471 14.833C17.4596 12.4508 13.1415 14.8785 14.5638 17.8035Z" fill="#F20574"/>
                        <mask id="mask1_305_3" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="251" y="20" width="5" height="6">
                        <path d="M251.299 20.9755H255.811V25.9643H251.299V20.9755Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask1_305_3)">
                        <path d="M255.796 20.9755V21.8563H254.136V25.9643H252.97V21.8563H251.299V20.9755H255.796Z" fill="#100F0D"/>
                        </g>
                        <mask id="mask2_305_3" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="256" y="20" width="6" height="6">
                        <path d="M256.443 20.9755H261.829V25.9643H256.443V20.9755Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask2_305_3)">
                        <path d="M260.158 20.9755H261.829V25.9643H260.746V22.5875C260.746 22.49 260.75 22.3568 260.75 22.1813C260.754 22.0058 260.754 21.8725 260.754 21.775L259.704 25.9643H258.574L257.529 21.775C257.529 21.8725 257.532 22.0058 257.532 22.1813C257.536 22.3568 257.536 22.49 257.536 22.5875V25.9643H256.458V20.9755H258.147L259.156 24.8983L260.158 20.9755Z" fill="#100F0D"/>
                        </g>
                        <path d="M105.639 29.7028H96.4109C95.464 29.7028 95.2153 30.1058 95.2153 30.7655V52.7388C95.2153 53.3985 95.464 53.8015 96.4109 53.8015H105.639C110.542 53.8015 116.721 51.312 116.721 45.5595V37.9448C116.721 32.2313 110.542 29.7028 105.639 29.7028ZM110.253 38.455V45.0493C110.253 47.3925 108.36 48.712 105.639 48.712H101.683V34.7923H105.639C108.36 34.7923 110.253 36.1475 110.253 38.455Z" fill="#004AAD"/>
                        <path d="M133.779 48.7835H131.183V34.7923H133.654C134.601 34.7923 134.85 34.3893 134.85 33.7328V30.7655C134.85 30.1058 134.601 29.7028 133.654 29.7028H122.199C121.252 29.7028 121.004 30.1058 121.004 30.7655V33.7328C121.004 34.3893 121.252 34.7923 122.199 34.7923H124.715V48.7835H122.119C121.172 48.7835 120.923 49.1865 120.923 49.8463V52.7388C120.923 53.3985 121.172 53.8015 122.119 53.8015H133.779C134.726 53.8015 134.974 53.3985 134.974 52.7388V49.8463C134.974 49.1865 134.726 48.7835 133.779 48.7835Z" fill="#004AAD"/>
                        <path d="M161.917 29.7028H157.551C156.436 29.7028 156.147 29.9953 155.818 30.876L150.257 46.0373L144.652 30.876C144.323 29.9953 144.034 29.7028 142.963 29.7028H138.393C137.607 29.7028 137.442 30.2878 137.65 30.7655L146.51 52.703C147.003 53.6553 147.292 53.8015 148.199 53.8015H152.151C153.058 53.8015 153.347 53.6553 153.84 52.703L162.659 30.7655C162.864 30.2878 162.699 29.7028 161.917 29.7028Z" fill="#004AAD"/>
                        <path d="M178.273 48.7835H175.677V34.7923H178.149C179.096 34.7923 179.345 34.3893 179.345 33.7328V30.7655C179.345 30.1058 179.096 29.7028 178.149 29.7028H166.694C165.747 29.7028 165.498 30.1058 165.498 30.7655V33.7328C165.498 34.3893 165.747 34.7923 166.694 34.7923H169.21V48.7835H166.614C165.667 48.7835 165.418 49.1865 165.418 49.8463V52.7388C165.418 53.3985 165.667 53.8015 166.614 53.8015H178.273C179.22 53.8015 179.469 53.3985 179.469 52.7388V49.8463C179.469 49.1865 179.22 48.7835 178.273 48.7835Z" fill="#004AAD"/>
                        <path d="M197.553 39.8103C195.908 39.2253 189.849 38.4193 189.849 36.1865C189.849 34.5388 192.116 34.061 193.476 34.061C194.712 34.061 196.193 34.3893 196.979 35.049C197.472 35.491 197.677 35.7835 197.842 36.1475C198.05 36.6253 198.171 37.1388 198.953 37.1388H202.993C203.94 37.1388 204.189 36.9925 204.189 36.1118C204.189 31.279 198.46 29.1535 193.227 29.1535C188.076 29.3355 183.217 31.682 183.217 36.4433C183.217 41.094 187.048 42.5565 191.209 43.7298C194.712 44.7178 198.379 44.7568 198.379 46.8075C198.379 48.8583 196.566 49.297 194.339 49.297C192.814 49.297 191.125 48.9655 190.302 48.088C189.765 47.5388 189.56 47.0643 189.52 46.5865C189.436 45.67 188.983 45.5595 188.036 45.5595H184.039C183.092 45.5595 182.844 45.7448 182.844 46.5865C182.844 51.715 188.778 54.3508 193.929 54.3508C200.273 54.3508 204.887 51.8613 204.887 46.6613C204.887 41.679 200.522 40.6163 197.553 39.8103Z" fill="#004AAD"/>
                        <path d="M231.008 46.073V37.4313C231.008 31.643 224.829 29.1535 219.926 29.1535C215.023 29.1535 208.924 31.643 208.924 37.4313V46.073C208.924 51.8613 215.023 54.3508 219.926 54.3508C224.829 54.3508 231.008 51.8613 231.008 46.073ZM224.54 37.9448V45.5595C224.54 47.906 222.643 49.2613 219.926 49.2613C217.246 49.2613 215.352 47.906 215.352 45.5595V37.9448C215.352 35.5983 217.246 34.243 219.926 34.243C222.643 34.243 224.54 35.5983 224.54 37.9448Z" fill="#004AAD"/>
                        <path d="M258.488 52.6283L252.678 45.1208C255.234 44.3538 258.404 41.679 258.404 37.8343C258.404 35.491 257.541 33.4013 256.016 32.085C254.283 30.5445 252.309 29.7385 247.815 29.7385H237.432C236.485 29.7385 236.28 30.1415 236.28 30.8013V52.7388C236.28 53.5805 236.693 53.8015 237.432 53.8015H241.512C242.254 53.8015 242.707 53.5805 242.707 52.7388V34.867H248.188C250.331 34.867 251.976 36.076 251.976 37.9805C251.976 39.6998 250.082 40.9478 248.064 40.9478H247.238C246.291 40.9478 246.046 41.3508 246.046 42.0073V44.9388C246.046 45.9625 246.126 46.3655 246.499 46.8075L250.949 52.703C251.523 53.4733 252.02 53.8015 253.007 53.8015H257.87C258.652 53.8015 258.857 53.1418 258.488 52.6283Z" fill="#004AAD"/>
                    </svg>
                </a>
            </div>
        </nav>

        <ul class="nav nav-tabs d-flex text-dark">
            <li class="nav-item ">
                <a class="nav-link  text-dark" href="/Teams">TEAMS</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Students">STUDENTS</a>
            </li>
        </ul>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>